{{#podcasts}}
<a href="podcast/{{slug}}">
    <figure class="productbox">
        <div class="img-box">
            <img srcset="{{{artwork.30}}} 30w, {{{artwork.60}}} 60w, {{{artwork.100}}} 100w, {{{artwork.600}}} 600w"
                sizes="(max-width: 769px) 100vw, (max-width: 1025px) 46vw, 30vw" src="{{{image.url}}}"
                alt="{{title}}" class="img-responsive">
        </div>
        <figcaption>
            <h3>{{title}}</h3>
            <p>{{{description}}}</p>
        </figcaption>
        <i class="fa fa-plus" aria-hidden="true"></i>
    </figure>
</a>
{{/podcasts}}